@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li { list-style: none; } /* this removes the bullet points from lists */

/*======================  H   E   A   D   E   R ======================*/
header
{
    background-color: #232323;
}

/*  The header-container and the user-icon class help position the logo in the center
    and the user icon to the right which will be used to login and access the user menu*/
.header-container
{
    padding-top: 5px;
    text-align: center;
}

.user-icon
{
    position: absolute;
    right: 65px;
    top: 25px;
}


/* DROP-DOWN MENU DESIGN*/
.user-icon:active + .dropdown
{
    display: block;
}

.dropdown
{
    position: absolute;
    right: 35px;
    top: 80px;
    background-color: rgb(219, 0, 0);
    border-radius: 5px;
    box-shadow: 0 7px 18px 0 rgba(219,0,0,.24), 0 7px 50px 0 rgba(219,0,0,0.19);
}

.dropdown li
{
    padding: 10px;
}

.dropdown li a
{
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-size: 1.0rem;
}



/*======================    B  O   D   Y   ======================*/
.buttons-container
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.login-button
{
    width: 120px;
    height: 50px;
    border: 1px solid;
    border-color: rgb(0, 255, 72);
    font-size: 9px;
    font-size: .9rem;
    color: black;
    border-radius: 8px;
    background-color: #62ffbb;
    box-shadow: 0 15px 18px 0 rgba(98, 255, 187, 0.604), 0 15px 50px 0 rgba(98, 255, 187, 0.19);
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    cursor: pointer;
}

/* good default shadow effect=
    box-shadow: 0 14px 18px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,0.19) */

.login-button:hover
{
    box-shadow: 0 9px 9px 0 rgba(24, 255, 155, 0.641), 0 5px 50px 0 rgba(24, 255, 155, 0.19);
    color: rgb(0, 0, 0);
    background-color: #00fd8f;
    font-size: 10px;
    font-size: 1.0rem;
    transform: translateY(3px);
}

.login-button:active
{
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transform: translateY(8px);
}

.signup-button
{
    width: 120px;
    height: 50px;
    border: 1px solid;
    border-color: #00f3fb;
    font-size: 9px;
    font-size: .9rem;
    color: black;
    border-radius: 8px;
    background-color: rgb(0, 233, 250);
    box-shadow: 0 15px 18px 0 rgba(0, 249, 255, 0.604), 0 15px 50px 0 rgba(0, 249, 255, 0.19);
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    cursor: pointer;
}

.signup-button:hover
{
    box-shadow: 0 9px 9px 0 rgba(0, 233, 250, 0.641), 0 5px 50px 0 rgba(0, 233, 250, 0.19);
    color: rgb(0, 0, 0);
    background-color: #00f3fb;
    font-size: 10px;
    font-size: 1.0rem;
    transform: translateY(3px);
}

.signup-button:active
{
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transform: translateY(8px);
}


/*======================    F   O   R   M   S   ======================*/

.center-container
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container
{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    margin-bottom: 120px;
    padding: 2rem;
    box-shadow: 0 14px 18px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 16px;
}

form h1
{
    margin-bottom: 2rem;
    text-align: center;
}

.input-field-group
{
    margin-bottom: 1rem;
    position: relative;
}

.input-field-group i
{
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
}

.input-field
{
    display: block;
    width: 100%;
    padding: .75rem .75rem .75rem 2rem;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #dddddd;
    outline: none;
    background-color: #eeeeee;
}

.input-field:focus
{
    border-color:rgb(18, 0, 0);
    background: white;
}


.login-btn
{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background:rgb(166, 0, 0);
    box-shadow: 0 8px 18px 0 rgba(0,0,0,.24), 0 12px 30px 0 rgba(0,0,0,0.19);
}

.login-btn:hover
{
    background-color: rgb(214, 0, 0);
}

.login-btn:active
{
    transform: scale(.97);
}

.form-links
{
    margin-top: 1.75rem;
    text-align: center;
}

.form-links a
{
    color: rgb(0, 106, 255);
    text-decoration: none;
}

.form-links:hover
{
    text-decoration: underline;
}


/*======================    C   A   L   E   N   D   A   R ======================*/
.calendar-container
{
    display: flex;
    justify-content: left;
    align-items: center;
}

.calendar
{
    width: 25rem;
    height: 33rem;
    background-color: #e3e3e3;
    border-radius: 16px;
    margin-top: 60px;
    margin-bottom: 150px;
    margin-left: 50px;
    box-shadow: 0 14px 18px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.month
{
    width: 100%;
    height: 6rem;
    background-color: rgb(219, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 0 18px 0 rgba(219, 0, 0, 0.604), 0 0 50px 0 rgba(219, 0, 0, 0.19);
}

.month i
{
    font-size: 1.5rem;
    cursor: pointer;
}

.month h1
{
    font-size: 1.6rem;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    user-select: none;
    -webkit-user-select: none;
}

.month h1:hover {cursor: pointer;}

.month h1:active {  transform: scale(.90);    }

.month p
{
    font-size: 1.2rem;
}

.weekdays
{
    width: 100%;
    height: 5rem;
    padding: 0 .4rem;
    display: flex;
    align-items: center;
}

.weekdays div
{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    width: calc(24.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
}

.days /* customize the days container (white part) */
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
}

.days div /* customize the position of each day number to calendar format in restpec to the container margin */
{
    font-size: 1.4rem;
    margin: .3rem;
    width: calc(20.2rem / 7);
    height: 2.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
}

.days div:hover:not(.today)
{
    border: .2rem solid rgba(255, 0, 0, 0.82);
    border-radius: 90px;
    cursor: pointer;
}

.prev-date, .next-date
{   opacity: .5;    }

.today
{
    background-color: rgba(255, 0, 0, 0.82);
    border-radius: 90px;
    box-shadow: 0 0 18px 0 rgba(255, 0, 0, 0.604), 0 0 50px 0 rgba(255, 0, 0, 0.19);
}

/*====================== F    O   O   T   E   R ======================*/
footer
{
    text-align: center;
    padding: 30px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #232323;
}

.copyright 
{
    font-family: 'Proxima Nova';
    font-style: italic;
    color: rgb(200, 200, 200);
}